# General
.DS_Store
Thumbs.db
*.log
*.tmp
*.swp
*.swo
*.pyc
__pycache__/
*.pid

# Env
.env
*.env.local
.env.*.local
.envrc

# Node
node_modules/
.npm/
.pnpm-store/
yarn.lock
pnpm-lock.yaml
package-lock.json
coverage/
.vite/
dist/
build/

# TypeScript
*.tsbuildinfo

# Python
.venv/
venv/
.mypy_cache/
.pytest_cache/
.tox/
.coverage*
htmlcov/
site/
.eggs/
*.egg-info/

# Django
staticfiles/
media/

# Docker
.docker/
Dockerfile-*~
/tmp/

# IDEs/Editors
.vscode/
.idea/
*.iml
*.sublime-*

# OS
Desktop.ini

# Misc
*.orig
*.rej
*.bak

# Frontend build artifacts
frontend/.vite/
frontend/dist/

# Backend artifacts
backend/static/
backend/media/

# Logs
logs/
